<form #restaurantForm="ngForm" (ngSubmit)="editRestaurant(restaurant)" novalidate>

    <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input name="name" type="text" [(ngModel)]="restaurant.name" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="address">Address</label>
        <input name="address" type="text" [(ngModel)]="restaurant.address" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="rating">Rating</label>
        <ngb-rating name="rating" [(ngModel)]="restaurant.rating" required></ngb-rating>
    </div> 
    
    <button type="submit" class="btn btn-primary pull-right">Update Restaurant</button>
    <button class="btn btn-warning" (click)="cancel()">Cancel Editing</button>
</form>