<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" [routerLinkActive]="[ 'active' ]" [routerLinkActiveOptions]=
            '{exact:true}'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="restaurant" [routerLinkActive]="[ 'active' ]" [routerLinkActiveOptions]=
            '{exact:true}'>Add a restaurant</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="restaurants" [routerLinkActive]="[ 'active' ]" [routerLinkActiveOptions]=
            '{exact:true}'>See all restaurant</a>
        </li>
        </ul>
      </div>
</nav>