<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{restaurant?.name}}</h5>
            <div [ngClass]="getAddressClass()" class="card-text" [ngStyle]="{ 'font-weight': restaurant?.address === '75013' ? 'bold' : 'normal' }">
                {{restaurant?.address}}
            </div>
        <ngb-rating [readonly]="true" [rate]="restaurant?.rating"></ngb-rating>
    </div>
    <i class="fa fa-trash" (click)="deleteRestaurant(restaurant.id)"></i>
    <i class="fa fa-edit" (click)="clickModifyRestaurant()"></i>
</div>